<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Espace Professeur</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h2>Espace Professeur</h2>
    <div class="menu">
        <a th:href="@{/professeur/cours}" class="btn">Mes Cours</a>
        <a th:href="@{/professeur/horaires}" class="btn">Mon Emploi du Temps</a>
        <a th:href="@{/professeur/notes}" class="btn">Gestion des Notes</a>
    </div>
    <a th:href="@{/home}" class="btn btn-back">Retour à l'accueil</a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>